.e3{
    top: 240px;
    left: 800px;
    width: 230px;
    height: 41px;
    position: absolute;
    z-index: 1;
}
.tarjeta2{
    top: 322px;
    left: 227px;
    width: 884px;
    height: 497px;
    position: absolute;
    z-index:1;
}
.tarjeta3{
    top: 861px;
    left: 158px;
    width: 716px;
    height: 55px;
    position: absolute;
    z-index: 1;
}
.tarjeta4{
    top: 924px;
    left: 157px;
    width: 139px;
    height: 37px;
    position: absolute;
    z-index: 1;
}
.tarjeta5{
    top: 847px;
    left: 1180px;
    width: 160px;
    height: 114px;
    position: absolute;
   border-radius: 8px;
   z-index: 1;
}
.tarjeta6{
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 800px;
    position: absolute;
    border-radius: 0px 8px 8px 0px;
    z-index: 1;
}
.mesadetrabajo{
    top: 0px;
    left: 0px;
    width: 1600px;
    height: 1200px;
    position: absolute;
}